# Vault policy for CA

# Enable secrets engines
path "sys/mounts/*" {
  capabilities = ["create", "read", "update", "delete", "list"]
}

# list enabled secrets engines
path "sys/mounts" {
  capabilities = ["read", "list"]
}

# Work with the root CA PKI secrets engine
path "${root_ca_mount_path}" {
  capabilities = ["create", "read", "update", "list", "sudo"]
}

# Work with the Intermediate CA PKI secrets engine
path "${intermediate_ca_mount_path}" {
  capabilities = ["create", "read", "update", "list", "sudo"]
}
